.welcome {
  position: relative;
  background-image: url('../../images/essths.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.welcome::before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.welcome h6 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: lighter;
}
  