.button {
  background-color: #0077b6;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 15px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.6s ease;
}

.button:hover {
  box-shadow: 7px 10px 65px 13px rgba(36, 124, 161, 0.72);;
}

.button:focus {
  outline: none;
}