.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 1;
  transition: all 0.3s ease;
}

.header.scroll {
  background-color: #555555;
  transition: all 0.3s ease;
}

.header img {
  cursor : pointer;
  transition: all 0.3s ease;
}

.header img:hover {
  opacity: 0.6;
  transition: all 0.3s ease;
}